.header .panel {

	a {
		color: #fff;
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.custom-logo-link {
		order: -1;
		max-width: 4rem;
		max-height: 4rem;
		margin-right: auto;
	}

	.custom-logo {
		display: block;
	}

	.call {
		@extend %button;
		margin-left: auto;
		margin-right: 1rem;
		border: 1px solid #fff;
	}

	.call + .burger {
		margin-left: 1rem;
	}

	.burger {
		margin-left: auto;
	}

}