//-
	Форма заказа

form
	.row.center-xs.start-sm.middle-xs

		.col-xs-12.col-sm-6.col-md-3
			input.control-lg( type="text" placeholder="Ваше ім'я" )

		.col-xs-12.col-sm-6.col-md-3
			input.control-lg( type="text" placeholder="Ваш телефон" )

		.col-xs-12.col-sm-6.col-md-3
			input.control-lg.mt-3( type="submit" value="Записаться!" )