//-
	Главная страница
	О прыжкках

section.section.section--about#about
	.container
		.row.center-xs
			.col-xs-12.col-sm-12.col-md-12.col-lg-7.first-lg
				h2.title#about-title Роупджампінг
				.description#about-description
					p Роупджампінг – досить молодий напрямок екстремального спорту та відпочинку, суть якого полягає у стрибках з висотних об’єктів з використанням спеціального спорядження. У Маріуполі така можливість відчути ейфорію вільного падіння та отримати дозу адреналіну з’явилася у 2015 році. Засновником організації, яка організовує роуп-стрибки є Андрій Шаталін, інструктор з йоги, який професійно займається промисловим альпінізмом. За допомогою роупджампінгу чоловік допомагає людям долати свої страхи.
				+blockquote( { name: 'Андрій Шаталін', foto: src.userfiles+'shatalin.jpg', quote: 'Роупджампінгом займаються люди різних професій та віку, цілі у них також різні. Наймолодшому роупджамперу в нашій організації 6 років, стрибали й екстремали, яким за 60' } )
			.col-xs-6.first-xs.col-sm-5.col-md-3.col-lg-4.col-lg-offset-1
				figure.thumbnail#about-thumbnail
					img( src=src.userfiles+'about.jpg' alt='' )