//-
	Главная страница
	Форма обратной связи

section.section.section--feedback.lazy#feedback( data-src=src.userfiles+'chill.jpg' )
	.container: .row.center-xs
		.col-xs-12.col-sm-10.col-md-8.col-lg-6
			.overlay
				h2.title Напишите нам!
				p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
				include ../forms/_feedback