//-
	Подвал сайта

.container: .row.middle-xs

	.col-xs-6.col-sm-4.col-md-4.col-lg-4
		p.copyright #[a( href="#" ) 2021 &copy; Альпсити]

	.col-xs-6.col-sm-4.col-md-4.col-lg-4
		ul.socials
			li: a.facebook( href="#" ) #[span.sr-only Мы в Facebook]
			li: a.instagram( href="#" ) #[span.sr-only Мы в Instagram]

	.col-xs-6.col-sm-4.col-md-4.col-lg-4
		p.developer Разработка: #[a( href="https://chomovva.ru/" ) chomovva]