//-

.bg

.overlay

	button.close #[span.sr-only Закрыть]

	ul.languages
		li: a( href="#" ) Ru
		li.current Uk

	ul.list
		li: a( href="#" ) Главная
		li: a( href="#" ) Что нужно для прыжка
		li: a( href="#" ) Цены
		li: a( href="#" ) Галерея
		li: a( href="#" ) Написать нам