//-
	Главная страница
	Форма заказа

section.section.section--order#order( data-src=src.userfiles+'order.jpg' )
	.container
		h2 DO YOU WANNA GO?
		p Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
		include ../forms/_order